.Overview {
    text-align: center;
    background-color: #282c34;
}

.Overview-header {
    /* padding-top: 50px; */
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: calc(10px + 2vmin);
    color: white;
}

.timer-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-top: 100px;
    padding-bottom: 20px;
}

td {
    padding-right: 15px;
    padding-left: 15px;
    text-align: left;
    font-weight: bold;
}

.loading {
    padding-top: 200px;
}

.Logout {
    position: absolute;
    left: 0;
    margin: 10px;
}

.Refresh {
    position: absolute;
    margin: 10px;
}

.Logs {
    position: absolute;
    right: 0;
    margin: 10px;
}

p {
    font-size: calc(20px + 2vmin);
    font-weight: bold;
    color:gold;
}

.loader {
    padding-top: 200px;
}